
@{
    ViewBag.Title = "Modificar";
}

<div class="container">
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Registro de Negocio por Banco</h4>
                </div>
                <div class="panel-body">
                    <form action="@Url.Action("Modificar", "Negocio")" class="form-horizontal" method="post">
                        <input type="hidden" id="txtIdNegocio" name="txtIdNegocio" value="@ViewBag.modificarNegocioPorBanco.idNegocio" class="form-control" />
                        <div class="form-group">
                            <label class="col-md-1 control-label">Estatus</label>
                            <div class="col-md-2">
                                <select name="selectEstatus" id="selectEstatus" class="form-control" data-size="10">
                                    <option value="1" @Html.Raw(ViewBag.modificarNegocioPorBanco.estatus == true ? "selected" : "")>Activo</option>
                                    <option value="0" @Html.Raw(ViewBag.modificarNegocioPorBanco.estatus == false ? "selected" : "")>Inactivo</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1">Banco</label>
                                <div class="col-md-3">
                                    @*<input type="text" id="txtNegocio" name="txtNegocio" value="@ViewBag.modificarNegocioPorBanco.parentBanco.nombre" class="form-control" />*@
                                    <select name="selecIdBanco" id="selecIdBanco" class="form-control" data-size="10">
                                        @foreach (var item in ViewBag.listaBancos)
                                        {
                                            if (@item.estatus == true)
                                            {
                                                <option value="@item.idBanco" @Html.Raw(ViewBag.modificarNegocioPorBanco.idBanco == @item.idBanco ? "selected" : "")>@item.nombre</option>
                                            }

                                        }
                                    </select>
                                </div>
                                <label class="control-label col-md-1">Negocio</label>
                                <div class="col-md-3">
                                    <input type="text" id="txtNegocio" name="txtNegocio" value="@ViewBag.modificarNegocioPorBanco.nombre" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" style="text-align:right;">
                                <button type="submit" class="btn btn-sm btn-danger m-r-5 fa fa-save"> Modificar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
        </div>
    </div>
</div>

<script>
    function registrarNegocio()
    {
        paginaAjax('add-with-callbacks',
            {
                selecIdBanco: document.getElementById('selecIdBanco').value,
                txtNegocio: document.getElementById('txtNegocio').value,
                selectEstatus: document.getElementById('selectEstatus').value
            },

            '@Url.Action("Registrar", "Negocio")', 'POST', null, null, false, true);
    }

</script>

