
@{
    ViewBag.Title = "Ver";
}

<div class="container">
    <div class="panel panel-inverse">
    </div>

    <div class="row">
        <!-- begin col-10 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Correo Electrónico</th>
                                <th>Fecha Modificación</th>
                                <th>Estatus</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="body-data-table">
                            @foreach (var item in ViewBag.listausuarios)
                            {
                                <tr>
                                    <td align="center">@item.nombre</td>
                                    <td>@item.apellidos</td>
                                    <td>@item.correoElectronico</td>
                                    <td>@item.fechaModificacion</td>
                                    <td align="center">@Html.Raw(item.estatus == true ? "<span style='background-color:green; color:white; padding:4px; border-radius:3px;'>Activo</span>" : "<span style='background-color:red; color:white; padding:4px; border-radius:3px;'>Inactivo</span>")</td>
                                    <td align="center">
                 
                                        <button type="button" class="btn btn-sm btn-primary m-r-5 fa fa-save" onclick="ModificarBanco();"> Modificar</button>
                                        |
                                        <button type="button" class="btn btn-sm btn-success m-r-5 fa fa-eye" onclick="ModificarBanco();"> Ver detalles</button>
                                        |
                                        <button type="button" class="btn btn-sm btn-danger m-r-5 fa fa-warning" onclick="ModificarBanco();"> Eliminar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>

</div>

