@{
    ViewBag.Title = "Registrar";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="@Url.Action("Consulta", "Flotilla")" class="btn btn-xs btn-icon btn-circle btn-success"><i class="fa fa-repeat"></i></a>
                    </div>
                    <h4 class="panel-title">Registro de Unidades Vehiculares</h4>
                </div>
                <div class="alert alert-warning fade in">
                    <button type="button" class="close" data-dismiss="alert">
                        @*<span aria-hidden="true">&times;</span>*@
                    </button>
                    Padrón vehicular de Mexica Tours, en la cual se registran todas la unidades pertenecientes a la empresa y se registran todos los datos generales de la unidad
                </div>
                <div class="panel-body">
                    <form action="@Url.Action("Registrar", "Flotilla")" class="form-horizontal" method="post">
                        <div style="width:100%; height:20px; background-color:#D9E0E7; border-radius:3px;">
                            <h5 style="color:black; font-size:small; vertical-align:middle; position:absolute; margin-top:3px;">Caracteristicas</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="exampleInputEmail1" style="font:bold;">Marca</label>
                                <select class="form-control" id="selectIdMarca" name="selectIdMarca">
                                    <option value="0">-</option>
                                    @foreach (var item in ViewBag.listaMarcas)
                                    {
                                        <option value="@item.idMarca">@item.descripcion</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label for="exampleInputEmail1">Modelo</label>
                                <input type="text" maxlength="4" id="txttmodelo" name="txttmodelo" class="form-control" placeholder="Año" onkeypress="return valida(event)" required />
                            </div>
                            <div class="col-md-2">
                                <label for="exampleInputEmail1">Tipo</label>
                                <input type="text" maxlength="14" id="txttipo" name="txttipo" class="form-control" placeholder="Crafter,Hiace,etc" required />
                            </div>

                            <div class="col-md-3">
                                <label for="exampleInputEmail1">N° Serie</label>
                                <input type="text" maxlength="24" id="txtserie" name="txtserie" class="form-control" placeholder="" required />
                            </div>
                            <div class="col-md-2">
                                <label for="exampleInputEmail1">Combustible</label>
                                <select class="form-control" id="selectidCombustible" name="selectidCombustible">
                                    <option value="0">-</option>
                                    @foreach (var item in ViewBag.listaCombustible)
                                    {
                                        <option value="@item.idCombustible">@item.descripcion</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label for="exampleInputEmail1">Cap. Litros</label>
                                <input type="text" maxlength="2" id="txtlitros" name="txtlitros" class="form-control" placeholder="Litros" onkeypress="return valida(event)" required />
                            </div>
                            <div class="col-md-1">
                                <label for="exampleInputEmail1">N° Pasajeros</label>
                                <input type="text" maxlength="2" id="txtcapacidad" name="txtcapacidad" class="form-control" placeholder="10,25" onkeypress="return valida(event)" required />
                            </div>
                        </div>
                        <br />
                        <div style="width:100%; height:20px; background-color:#D9E0E7; border-radius:3px;">
                            <h5 style="color:black; font-size:small; vertical-align:middle; position:absolute; margin-top:3px;">Indetificación de la Unidad y Seguro</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label for="exampleInputEmail1">Kilometraje</label>
                                <input type="text" maxlength="7" id="txtkilometraje" name="txtkilometraje" class="form-control" placeholder="Kilometraje actual" onkeypress="return valida(event)" required />
                            </div>
                            <div class="col-md-1">
                                <label for="exampleInputEmail1">Placas</label>
                                <input type="text" maxlength="14" id="txtplacas" name="txtplacas" class="form-control" placeholder="" required />
                            </div>

                            <div class="col-md-2">
                                <label for="exampleInputEmail1">N° Economico</label>
                                <input type="text" maxlength="9" id="txtnumEconomico" name="txtnumEconomico" class="form-control" placeholder="MT0001" required />
                            </div>
                            <div class="col-md-1">
                                <label for="exampleInputEmail1">Asegurado</label>
                                <select class="form-control" id="selectseguro" name="selectseguro">
                                    <option value="0">-</option>
                                    <option value="1">Si</option>
                                    <option value="2">No</option>
                                </select>
                            </div>


                            <div class="col-md-2">
                                <label for="exampleInputEmail1">Aseguradora</label>
                                <input type="text" maxlength="24" id="txtciaSeguro" name="txtciaSeguro" class="form-control" placeholder="" required />
                            </div>
                            <div class="col-md-1">
                                <label for="exampleInputEmail1">Monto Pago</label>
                                <input type="text" maxlength="14" id="txtmontoPagoSeguro" name="txtmontoPagoSeguro" class="form-control" placeholder="" onkeypress="return valida(event)" required />
                            </div>
                            <div class="col-md-2">
                                <label for="exampleInputEmail1">Inicia Seguro</label>
                                <div class="input-group date" id="vigenciaIniciaSeguro">
                                    <input type="text" id="datevigenciaIniciaSeguro" name="datevigenciaIniciaSeguro" class="form-control" placeholder="Select Date" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="exampleInputEmail1">Fin Seguro</label>
                                <div class="input-group date" id="vigenciaFinSeguro">
                                    <input type="text" id="datevigenciaFinSeguro" name="datevigenciaFinSeguro" class="form-control" placeholder="Select Date" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>

                        </div>
                        <br />
                        <div style="width:100%; height:20px; background-color:#D9E0E7; border-radius:3px;">
                            <h5 style="color:black; font-size:small; vertical-align:middle; position:absolute; margin-top:3px;">Asignación y Situación de la Unidad</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="exampleInputEmail1">Empresa Asginada</label>
                                <select class="form-control" id="selectIdEmpleado" name="selectIdEmpleado">
                                    @foreach (var item in ViewBag.listaEmpresas)
                                    {
                                        <option value="@item.idEmpresa">@item.descripcion</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="exampleInputEmail1">Operador Asignado</label>
                                <select class="form-control" id="selectOperador" name="selectOperador">
                                    @foreach (var item in ViewBag.listaEmpleados)
                                    {
                                        <option value="@item.idEmpleado">@item.nombre</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="exampleInputEmail1">Estatus Pago</label>
                                <select class="form-control" id="selectestatusPago" name="selectestatusPago">
                                    <option value="0">-</option>
                                    <option value="1">Liquidado</option>
                                    <option value="2">Credito</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label for="exampleInputEmail1">Monto Pago</label>
                                <input type="text" maxlength="14" id="txtpagoMensual" name="txtpagoMensual" class="form-control" placeholder="" onkeypress="return valida(event)" required />
                            </div>
                            <div class="col-md-1">
                                <label for="exampleInputEmail1">Dia Pago</label>
                                <input type="text" maxlength="2" id="txtdiaPagoUnidad" name="txtdiaPagoUnidad" class="form-control" placeholder="" onkeypress="return valida(event)" required />
                            </div>
                            <div class="col-md-2">
                                <label for="exampleInputEmail1">Comentarios</label>
                                <input type="text" maxlength="199" id="txtobservaciones" name="txtobservaciones" class="form-control" placeholder="Observaciones generales" required />
                            </div>
                            <div class="col-md-2">
                                <label for="exampleInputEmail1">Estatus</label>
                                <select class="form-control" id="selectestatus" name="selectestatus">
                                    <option value="0">Inactivo</option>
                                    <option value="1">Activo</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <hr />
                            <br />

                            <div class="form-group col-md-12">
                                <div class="col-md-12" align="center">
                                    <button style="width:10%;" type="submit" class="btn btn-sm btn-success">Insertar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- end panel -->
</div>

<script>
function valida(e){
    tecla = (document.all) ? e.keyCode : e.which;

    //Tecla de retroceso para borrar, siempre la permite
    if (tecla==8){
        return true;
    }

    // Patron de entrada, en este caso solo acepta numeros
    patron =/[0-9-.]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
}
</script>